@use "../../../index.scss" as *;

.back a {
  display: inline-flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 0.8rem;
  position: relative;
  z-index: 3;
}

.step-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.travel-style-content {
  display: flex;
  margin-top: 50px;
  gap: 3rem;
  justify-content: center;
}

.travel-style-content .content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.content-item .img-box {
  border-radius: 50%;
  transition: 0.2s all ease-in-out;
  border: 3px solid transparent;
}

.content-item .img-box.active {
  border: 3px solid $yellow-color;
}

.content-item .item-title.active {
  color: $yellow-color;
  font-size: 0.9rem;
}

// * travel interest

.travel-interest-content {
  margin-top: 50px;
}

.travel-interest-content .interest-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.interest-wrapper .travel-opt-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  border: 3px solid transparent;
  padding: 1rem;
  cursor: pointer;
}

.interest-wrapper .option {
  position: relative;
}

.interest-wrapper .active_target {
  position: absolute;
  width: 25px;
  height: 25px;
  display: none;
  align-items: center;
  justify-content: center;
  background: #000;
  top: 7px;
  right: 7px;
  border-radius: 25px;
}

.interest-wrapper .option.active .active_target {
  display: flex;
}

.interest-wrapper .option.Nature .travel-opt-btn.active {
  border: 3px solid #2bbc41;
}
.interest-wrapper .option.Nature.active .active_target {
  background: #2bbc41;
}

.interest-wrapper .option.Gastronomy .travel-opt-btn.active {
  border: 3px solid #d79a4d;
}
.interest-wrapper .option.Gastronomy.active .active_target {
  background: #d79a4d;
}

.interest-wrapper .option.Culture .travel-opt-btn.active {
  border: 3px solid #b6241f;
}
.interest-wrapper .option.Culture.active .active_target {
  background: #b6241f;
}

.interest-wrapper .option.Adventure .travel-opt-btn.active {
  border: 3px solid #120aff;
}
.interest-wrapper .option.Adventure.active .active_target {
  background: #120aff;
}

.interest-wrapper .option.City .travel-opt-btn.active {
  border: 3px solid #9b26fa;
}
.interest-wrapper .option.City.active .active_target {
  background: #9b26fa;
}

.interest-wrapper .option.History .travel-opt-btn.active {
  border: 3px solid #ff6e00;
}
.interest-wrapper .option.History.active .active_target {
  background: #ff6e00;
}

// ! travel budget
.travel-budget-content {
  margin-top: 50px;
}

.budget-option-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
}

.budget-option-content .option {
  background: rgba(99, 99, 99, 0.3);
  display: flex;
  flex-direction: column;
  padding: 3.5rem 0;
  box-shadow: 0px -1px 9px 1px rgba(0, 0, 0, 0.49);
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  border-radius: 16px;
  cursor: pointer;

  &.active {
    border: 3px solid $yellow-color;
  }
  .option-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  .option-price {
    font-size: 0.9rem;
  }

  .option-description {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    text-align: center;
  }
}

.input-content {
  margin-top: 20px;
  display: flex;
  position: relative;

  input {
    padding: 0.8rem 3rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    outline: none;

    color: #fff;

    &::placeholder {
      color: #fff;
      font-size: 0.8rem;
    }

    :appearance {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

.input-content .icon {
  position: absolute;
  display: block;
  width: 24px;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  background-image: url("../../../assets/icons/calendar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 15px;
}

@media (max-width: 768px) {
  .content-item .img-box img {
    width: 180px;
  }

  .travel-interest-content .interest-wrapper {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .content-item .img-box img {
    width: 130px;
  }

  .content-item .item-title {
    font-size: 0.8rem;
  }

  .step-navigation .btn {
    padding: 8px 2rem;
  }

  .step-navigation div {
    margin: 0 !important;
  }

  .counter-controls {
    gap: 0.5rem;
  }

  .interest-wrapper .travel-opt-btn img {
    width: 80px;
  }

  .budget-option-content {
    display: flex;
    flex-wrap: wrap;

    .option {
      width: 47%;
    }
  }
}

@media (max-width: 375px) {
  .content-item .img-box img {
    width: 100px;
  }
  .step-navigation .btn {
    padding: 8px 1.7rem;
  }

  .travel-style-content {
    gap: 1.5rem;
  }
}
