// ! COMPONENTS STYLE
@import "../index.scss";

header {
  position: absolute;
  width: 100%;
  z-index: 3;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5rem;
  z-index: 1000;
}

.contact-link {
  position: relative;
  top: -15px;
}

.btn:hover {
  background-color: #ac7b3e !important;
  transition: 0.3s;
}

.logo-part {
  margin-top: 1px;
}

.logo-part .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;

  span {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
  }
}

.travel-opt-btn {
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
}










// ! media queries
@media (max-width: 991px) {
  header nav {
    padding: 1rem 2rem;
  }
}

@media (max-width: 375px) {
  .contact-link {
    position: relative;
    top: -20px;
    font-size: .9rem;
  }

  .logo-part .logo img {
    width: 50px;
  }
  .logo-part .logo span {
    font-size: .9rem;
  }
}
