// ! COMPONENTS STYLE

header {
  position: absolute;
  width: 100%;
  z-index: 3;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5rem;
  z-index: 1000;
}

@media (max-width: 991px) {
  header nav {
    padding: 1rem 2rem;
  }
}

.btn:hover {
  background-color: #ac7b3e !important;
  transition: 0.3s;
}

.logo-part {
  margin-top: 10px;
}

.logo-part .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;

  span {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
  }
}
