@use "../../index.scss" as *;
@use "cards";
@use "users-info";
@use "interest";
@use "traveler";
@use "status";
@use "services";
@use "guide";

#views {
  padding: 2rem;
}

#views .section-title {
  margin-bottom: 24px;

  &.light-theme {
    color: #fff;
  }
}

#views .section-title .content-title.light-theme {
  color: #fff;
}

#views .section-title p {
  color: $secondary-text;
  margin-top: 5px;
}

// Partials:
// _cards.scss        ? .dashboard-card, .dashboard-cart-content
// _users-info.scss   ? .dashboard-users-info-*
// _interest.scss     ? .dashboard-interest-*
// _traveler.scss     ? .dashboard-traveler-*
// _status.scss       ? .dashboard-status-*
// _services.scss     ? .dashboard-services-*
// _guide.scss        ? .dashboard-guide-*