// ! DEFAULT RESET CODES
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

// ! COLOR CODES
$yellow-color: #d79a4d;
$yellow-color-text: #ac7b3e;

$secondary-text: #505050;
$secondart-btn: #7c7c7c;

$blue-dark: #0a1030;
$blue-btn: #1d3557;
$blue-orginal: #155dfc;
$blue-secondary: #dbeafe;
$blue-text: #1447e6;

$green-orginal: #00a63e;
