// ! DEFAULT RESET CODES
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

// ! COLOR CODES
$yellow-color: #d79a4d;
$yellow-color-text: #ac7b3e;

$secondary-text: #505050;
$secondary-btn: #7c7c7c;

$blue-dark: #0a1030;
$blue-btn: #1d3557;
$blue-orginal: #155dfc;
$blue-secondary: #dbeafe;
$blue-text: #1447e6;

$green-orginal: #00a63e;

// ! LOADING DOT ANIMATION
@keyframes dotGlow {
  0%, 100% {
    background: rgba(233, 235, 248, 0.60);
    filter: none;
  }
  50% {
    background: #D9D9D9;
    filter: drop-shadow(0 0 0.438px #D79A4D) drop-shadow(0 0 0.876px #D79A4D) drop-shadow(0 0 3.064px #D79A4D) drop-shadow(0 0 6.129px #D79A4D) drop-shadow(0 0 10.506px #D79A4D) drop-shadow(0 0 18.386px #D79A4D);
  }
}
