
// ! DEFAULT RESET CODES
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

// ! COLOR CODES
$yellow-color: #D79A4D; 
$yellow-color-text: #AC7B3E;

$secondary-text: #505050;
$secondart-btn: #7C7C7C;

$blue-dark: #0A1030;
$blue-btn: #1D3557;
$blue-orginal: #155DFC;
$blue-secondary: #DBEAFE;
$blue-text:#1447E6;

$green-orginal: #00A63E;


